# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/
.npm

# Next.js
.next/
out/
build/
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Local Temp
tmp/
backend/tmp/
frontend/tmp/
